apturl
asgiref
bcrypt
blinker
Brlapi
certifi
cffi
chardet
cliapp
click=
cmdtest
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
Django
djangorestframework
djongo
dnspython
duplicity
fasteners
future
gyp
httplib2
idna
importlib-metadata
jeepney
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
Markdown
MarkupSafe
monotonic
more-itertools
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
protobuf
ptyprocess
pycairo
pycparser
pycups
Pygments
PyGObject
PyJWT
pymacaroons
pymongo
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxd
PyYAML
reportlab
SecretStorage
six
sqlparse
systemd-python
ttystatus
ubuntu-advantage-tools
ubuntu-drivers-common0
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xdg
xkit
zipp
